extends ../../../base/templates/layout.pug
include ../../../base/templates/form

block form
    +form
        +cardNumber
        +expiryDate
        +cardHolder
        +cardCvv
        +cardPin
        +state
        +curp
